@import url("/docs/css/navbar.css");
@import url("/docs/css/sidebar.css");
@import url("/docs/css/mobile.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.container {
  display: grid;
  grid-template-columns: auto minmax(0, 1fr);
  grid-template-rows: 0.5fr, 1fr, 1fr;
  grid-template-areas:
    "sidebar  section section"
    "sidebar  content content"
    "footer footer  footer";
  height: 100vh;
  gap: 20px;
  margin-left: 5%;
  margin-right: 5%;
}

.section {
  grid-area: section;
  margin-top: 120px;
  margin-bottom: 50px;
}

/*css for content*/

.content {
  display: grid;
  grid-template-columns: auto minmax(1fr, 1fr, 1fr);
  grid-template-columns: 1fr 1fr;
  grid-template-areas: " content content content ";
  gap: 10px;
 
}

/* css for footer*/
.footer {
  grid-area: footer;
  background-color: #820667;
  height: 50px;
}

img {
  width: 300px;
  height: 300px;
  border-radius: 10px 10px 0 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
h2 {
  color: red;
  font-weight: bolder;
}
.read-more {
  display: inline-block;
  width: auto;
  text-align: center;
  text-transform: uppercase;
  background: #cb6074;
  color: #fff;
  padding: 15px;
  margin-bottom: 30px;
  font-family: "Oswald", sans-serif;
}
.name {
  margin-bottom: 20px;
  align-items: center;
}
@media only screen and (max-width: 1118px) {
  .content {
    display: grid;
    grid-template-columns: auto minmax(0, 1fr);
    grid-template-columns: 1fr;
    grid-template-areas: "content  content";
    gap: 5px;

    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 912px) {
  .content {
    display: grid;
    grid-template-columns: auto minmax(0, 1fr);
    grid-template-columns: 1fr;
    grid-template-areas: "content";
    gap: 5px;
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 390px) {
  .max-width {
  padding: 0 25px;
  
  }

  .sidebar {
   margin-left:-20%;
  }

  .container {
    display: grid;
    grid-template-columns:0.5fr;
    grid-template-rows: 0.5fr,0.5fr,1fr, 1fr;
    grid-template-areas:
      "sidebar "
      "section"
      "content"
      "footer";
    height: 100vh;
    gap: 20px;
    margin-left: 5%;
    margin-right: 5%;
  }

 
}

@media only screen and (max-width: 500px) {
  .max-width {
    padding: 0 25px;
    }
  
    .sidebar {
     margin-left:-20%;
    }
  
    .container {
      display: grid;
      grid-template-columns:0.5fr;
      grid-template-rows: 0.5fr,0.5fr,1fr, 1fr;
      grid-template-areas:
        "sidebar "
        "section"
        "content"
        "footer";
      height: 100vh;
      gap: 20px;
      margin-left: 5%;
      margin-right: 5%;
    }
}
